In [1]:
import pandas as pd
import numpy as np
import csv
import matplotlib as mpl

In [2]:
garm_data = pd.read_csv('garments_worker_productivity.csv')

In [3]:
garm_data

,date,quarter,department,day,team,targeted_productivity,smv,wip,over_time,incentive,idle_time,idle_men,no_of_style_change,no_of_workers,actual_productivity
0,1/1/2015,Quarter1,sweing,Thursday,8,0.80,26.16,1108.0,7080,98,0.0,0,0,59.0,0.940725
1,1/1/2015,Quarter1,finishing,Thursday,1,0.75,3.94,NaN,960,0,0.0,0,0,8.0,0.886500
2,1/1/2015,Quarter1,sweing,Thursday,11,0.80,11.41,968.0,3660,50,0.0,0,0,30.5,0.800570
3,1/1/2015,Quarter1,sweing,Thursday,12,0.80,11.41,968.0,3660,50,0.0,0,0,30.5,0.800570
4,1/1/2015,Quarter1,sweing,Thursday,6,0.80,25.90,1170.0,1920,50,0.0,0,0,56.0,0.800382
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1192,3/11/2015,Quarter2,finishing,Wednesday,10,0.75,2.90,NaN,960,0,0.0,0,0,8.0,0.628333
1193,3/11/2015,Quarter2,finishing,Wednesday,8,0.70,3.90,NaN,960,0,0.0,0,0,8.0,0.625625
1194,3/11/2015,Quarter2,finishing,Wednesday,7,0.65,3.90,NaN,960,0,0.0,0,0,8.0,0.625625
1195,3/11/2015,Quarter2,finishing,Wednesday,9,0.75,2.90,NaN,1800,0,0.0,0,0,15.0,0.505889
1196,3/11/2015,Quarter2,finishing,Wednesday,6,0.70,2.90,NaN,720,0,0.0,0,0,6.0,0.394722

In [4]:
#Dropping columns with null values or non contributing values
garm_data = garm_data.drop('wip', axis = 1)
garm_data = garm_data.drop('date', axis = 1)

In [5]:
#Encoding columns to normalise data

columnsToEncode = ['quarter', 'department', 'day']

for col in columnsToEncode:
    distinct_values = garm_data[col].unique()
    mapping_dict = dict(zip(distinct_values, range(1, len(distinct_values) + 1)))
    garm_data[col] = garm_data[col].replace(mapping_dict)

# Initial test to change values in single column

distinctVal = garm_data['quarter'].unique()
map_distinctVal = dict(zip(distinctVal, range(1, len(distinctVal)+1)))
garm_data['quarter'] = garm_data['quarter'].replace(map_distinctVal)

In [7]:
garm_data

,quarter,department,day,team,targeted_productivity,smv,over_time,incentive,idle_time,idle_men,no_of_style_change,no_of_workers,actual_productivity
0,1,1,1,8,0.80,26.16,7080,98,0.0,0,0,59.0,0.940725
1,1,2,1,1,0.75,3.94,960,0,0.0,0,0,8.0,0.886500
2,1,1,1,11,0.80,11.41,3660,50,0.0,0,0,30.5,0.800570
3,1,1,1,12,0.80,11.41,3660,50,0.0,0,0,30.5,0.800570
4,1,1,1,6,0.80,25.90,1920,50,0.0,0,0,56.0,0.800382
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1192,2,3,6,10,0.75,2.90,960,0,0.0,0,0,8.0,0.628333
1193,2,3,6,8,0.70,3.90,960,0,0.0,0,0,8.0,0.625625
1194,2,3,6,7,0.65,3.90,960,0,0.0,0,0,8.0,0.625625
1195,2,3,6,9,0.75,2.90,1800,0,0.0,0,0,15.0,0.505889
1196,2,3,6,6,0.70,2.90,720,0,0.0,0,0,6.0,0.394722

# Basic outline of algo

In [8]:
#neuron input size
input_size = 12

#hidden nueron size
hidden_size = 20

#Output neuron size
output_size = 2